body, html {
  height: 100%; 
  margin: 0; 
  font-family: "Arial"; 
  font-weight: lighter; 

}
.container {
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.loginBox {
  width: 330px; 
  background-color: white; 
  box-shadow: 0px 0px 43px -2px rgba(135,130,135,1); 
  border-radius: 8px; 
  padding: 15px;
}
.userImage {
  border-radius: 50%; 
  overflow: hidden; 
  width: 120px; 
  height: 120px; 
  margin: 10px auto 30px;
}
img {
  width: 100%;
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-top: 10px solid #66e8dc; 
  position: absolute; 
  right: 18px; 
  bottom: -8px;
}
input {
  display: block; 
  width: 300px; 
  padding: 10px 10px; 
  border-radius: 8px; 
  border: 1px solid #ececec; 
  margin: 10px 0;
}

.confirmation {
  width: 200px; 
  position: absolute; 
  top: 0; 
  border-radius: 50%; 
  overflow: hidden; 
  height: 200px; 
  left: 50%; 
  margin-left: -100px; 
  top: 50%; 
  margin-top: -100px;     					
  box-shadow: 10px 10px 10px; 
  z-index: 10
}

#toast {
	visibility: hidden;
	max-width: 50px;
	height: 50px;
	/*margin-left: -125px;*/
	margin: auto;
	background-color: #cdcdcd;
	color: #546772;
	text-align: center;
	border-radius: 2px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 30px;
	font-size: 17px;
	white-space: nowrap;
}
#toast #img {
	width: 50px;
	height: 50px;
	float: left;
	padding-top: 16px;
	padding-bottom: 16px;
	box-sizing: border-box;
	background-color: white;
	color: #546772;
}
#toast #desc {
	color: #0A67A3;
	padding: 16px;
	overflow: hidden;
	white-space: nowrap;
}
#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink
		0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
		fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}
to {
	bottom: 30px;
	opacity: 1;
}
}
@keyframes fadein {
	from {bottom: 0;
	opacity: 0;
}
to {
	bottom: 30px;
	opacity: 1;
}
}
@-webkit-keyframes expand {
	from {min-width: 50px
}
to {
	min-width: 350px
}
}
@keyframes expand {
	from {min-width: 50px
}
to {
	min-width: 350px
}
}
@-webkit-keyframes stay {
	from {min-width: 350px
}
to {
	min-width: 350px
}
}
@keyframes stay {
	from {min-width: 350px
}
to {
	min-width: 350px
}
}
@-webkit-keyframes shrink {
	from {min-width: 350px;
}
to {
	min-width: 50px;
}
}
@keyframes shrink {
	from {min-width: 350px;
}
to {
	min-width: 50px;
}
}
@-webkit-keyframes fadeout {
	from {bottom: 30px;
	opacity: 1;
}
to {
	bottom: 60px;
	opacity: 0;
}
}
@keyframes fadeout {
	from {bottom: 30px;
	opacity: 1;
}
to {
	bottom: 60px;
	opacity: 0;
}
}
}